{% extends 'GoproMainBundle::layout.html.twig' %}
{% block title %}Actualizar archivo{% endblock title %}
{% block titulo %}Actualizar archivo{% endblock titulo %}
{% block content %}
    {{ form(edit_form) }}
    <ul class="registroAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_main_archivo') }}">
                Volver a la lista
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock content %}
