{% extends 'GoproVipacDbprocesoBundle::layout.html.twig' %}
{% block content %}
    <h1>Carga de Archivos</h1>
    {{ form(form) }}
    <ul class="listaAcciones">
        <li>
            <a href="{{ path('archivo') }}">
                Vover a la lista
            </a>
        </li>
    </ul>
{% endblock content %}
