{% extends 'GoproVipacReporteBundle::layout.html.twig' %}
{% block title %}Creación de sentencias SQL{% endblock title %}
{% block titulo %}Creación de sentencias SQL{% endblock titulo %}
{% block content %}
    {% form_theme edit_form 'GoproMainBundle:Form:standard.html.twig' %}
    {{ form(form) }}
    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_vipac_reporte_sentencia') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock content %}
