* {margin:0; padding:0;}
h1{font-size: 150%}
h2{font-size: 130%}
h3{font-size: 110%}
h1,h2,h3{margin-bottom: 5px;}
a{text-decoration: none;}

a:hover{text-decoration: underline;}

body {color:#444; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 75%;}
div#viewPort{ min-width: 800px;}

div#header {width: 100%; height: 40px; background: #FCBA15; padding:5px; display:block; position: relative; }
div#header div#titulo{color: #fff; margin-left: 10px;}
div#header div#loginStatus {display:block; position: absolute; top: 0px; right:20px;}
div#header div#loginStatus a{color:#eee;}
div#header div#loginStatus a:hover{color:#fff;}
div#sessionFlash{ display:block; width: 250px; margin: 10px auto;}
div#sidebar{padding:10px; width:15%; display: inline-block; margin-right: 10px;}
div#sidebar:empty{display:none;}
div#sidebar ul{ list-style-type: none;}
div#sidebar ul li{width: 100%;line-height: 30px;}
div#sidebar ul li a{margin-bottom: 3px; width: 100%;}

div#container{padding:10px; width:75%; display: inline-block; vertical-align: top;}