* {margin:0; padding:0;}
h1{font-size: 150%}
h2{font-size: 130%}
h3{font-size: 110%}
a{text-decoration: none;}


a:hover{text-decoration: underline;}

body {color:#444; font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; font-size: 80%;}

div#header {width: 100%; height: 40px; background: #FCBA15; padding:5px; display:block; position: relative; }
div#header div#loginStatus {display:block; position: absolute; right:20px;}
div#header div#loginStatus a{color:#eee;}
div#header div#loginStatus a:hover{color:#fff;}

div#container{padding:10px; width:100%;}