/web/bundles/
/web/carga/*
!/web/carga/archivos/.gitkeep
/web/js/
/web/css/
/web/assetic/
/app/bootstrap.php.cache
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
/var/sessions/*
!/var/cache/.gitkeep
!/var/logs/.gitkeep
!/var/sessions/.gitkeep
/vendor/
/composer.lock
/.idea/*
*~