<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}E-Mail{% endblock title %}</title>
    {% block stylesheets %}
        <style type="text/css">
            #header {border:#FCBA15 1px solid; width:90%; height: 110px; margin-bottom: 10px; padding:5px;}
            #header #logo {width: 200px;}
            #header #content {color:#FCBA15; width: 300px;}
            #contenedor {width: 90%;}
        </style>
    {% endblock stylesheets %}
</head>
<body>
<div id="header">
    <span id="logo"><img width=175 height=100 src="http://vipac.pe/img/logo_175_100.png" /></span>
    <span id="content">
        {% block header %}{% endblock header %}
    </span>
</div>
<div id="contenedor">
{% block body %}{% endblock body %}
</div>
</body>
</html>