{% extends 'GoproVipacProveedorBundle::layout.html.twig' %}
{% block title %}Creación de patrones de caracteristicas{% endblock title %}
{% block titulo %}Creación de patrones de caracteristicas{% endblock titulo %}
{% block content %}
    {{ form(form) }}
    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_vipac_proveedor_caracteristica') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock content %}
