{% extends 'GoproVipacReporteBundle::layout.html.twig' %}
{% block title %}Creación de tipos de campo{% endblock title %}
{% block titulo %}Creación de tipos de campo{% endblock titulo %}
{% block content %}
    {{ form(form) }}
    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_vipac_reporte_tipo') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock content %}
