{% extends '::global.html.twig' %}
{% block body %}
    <h1>Resultados del proceso</h1>
    <ul>
        {% for mensaje in mensajes %}
            <li>{{ mensaje }}</li>
        {% endfor %}
    </ul>
{% endblock %}




