{% extends 'GoproInventarioBundle::layout.html.twig' %}
{% block title %}Nuevo item{% endblock title %}
{% block titulo %}Nuevo item{% endblock titulo %}
{% block content %}
    {{ form(form) }}
    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_inventario_item') }}">
                Ir a la lista de items
            </a>
        </li>
    </ul>
{% endblock content %}
