{% extends 'GoproInventarioBundle::layout.html.twig' %}
{% block content %}
    <h1>Nuevo item</h1>
    {{ form(form) }}
    <ul class="listaAcciones">
        <li>
            <a href="{{ path('gopro_inventario_item') }}">
                Vover a la lista
            </a>
        </li>
    </ul>
{% endblock content %}
