{% extends 'GoproVipacReporteBundle::layout.html.twig' %}
{% block content %}
    <h1>Modificar operador de comparación</h1>
    {{ form(edit_form) }}
    <ul class="registroAcciones">
        <li>
            <a href="{{ path('operador') }}">
                Volver a la lista
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock content %}
