{% extends 'GoproVipacReporteBundle::layout.html.twig' %}
{% block title %}Creaci贸n de operadores de comparaci贸n{% endblock title %}
{% block titulo %}Creaci贸n de operadores de comparaci贸n{% endblock titulo %}
{% block content %}
    {{ form(form) }}
    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_vipac_reporte_operador') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock content %}
