{% extends 'GoproVipacReporteBundle::layout.html.twig' %}
{% block content %}
    <h1>Creación de operadores de comparación</h1>
    {{ form(form) }}
    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('operador') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock content %}
