{% extends 'GoproVipacProveedorBundle::layout.html.twig' %}
{% block title %}Lista de tipos de caracteristicas{% endblock title %}
{% block titulo %}Lista de tipos de caracteristicas{% endblock titulo %}
{% block content %}
    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_vipac_proveedor_serviciofile_new') }}">
                Crear un nuevo registro
            </a>
        </li>
    </ul>
    {{ grid(grid) }}
    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_vipac_proveedor_serviciofile_new') }}">
                Crear un nuevo registro
            </a>
        </li>
    </ul>
{% endblock content %}
