{% extends 'GoproInventarioBundle::layout.html.twig' %}
{% block title %}Nuevo estado de mantenimiento{% endblock title %}
{% block titulo %}Nuevo estado de mantenimiento{% endblock titulo %}
{% block content %}
    {{ form(form) }}
    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_inventario_mantenimientoestado') }}">
                Vover a la lista
            </a>
        </li>
    </ul>
{% endblock content %}
