div#GoproVipacReporteBundle div#saveContent{position:absolute; top:0px; left:0px; display: none;}

div#GoproVipacReporteBundle form#parametrosForm div#guardadoContent table#guardadoTable tbody tr td.nombre{ width:100px; padding: 5px 2px;}
div#GoproVipacReporteBundle form#parametrosForm div#filtroContent table#filtroTable tbody tr td a.borrarFiltro,
div#GoproVipacReporteBundle form#parametrosForm div#ordenContent table#ordenTable tbody tr td a.borrarOrden,
div#GoproVipacReporteBundle form#parametrosForm div#grupoContent table#grupoTable tbody tr td a.borrarGrupo,
div#GoproVipacReporteBundle form#parametrosForm div#guardadoContent table#guardadoTable tbody tr td a.borrarGuardado{font-size:8px; color:#cd0a0a;}


div#GoproVipacReporteBundle form#parametrosForm div#guardadoContent{width:180px; display:block; margin:5px 0 0 10px; padding:5px; border: #a6c9e2 solid 1px;}
div#GoproVipacReporteBundle form#parametrosForm div#filtroContent{width:500px; vertical-align: middle; display:block; margin:5px 0 0 30px; padding:5px; border: #a6c9e2 solid 1px;}
div#GoproVipacReporteBundle form#parametrosForm div#ordenContent{width:500px; vertical-align: middle; display:block; margin:5px 0 0 30px; padding:5px; border: #a6c9e2 solid 1px;}
div#GoproVipacReporteBundle form#parametrosForm div#grupoContent{width:500px; vertical-align: middle; display:block; margin:5px 0 0 30px; padding:5px; border: #a6c9e2 solid 1px;}

div#GoproVipacReporteBundle form#parametrosForm div#parametrosForm{margin:5px 0;}

div#GoproVipacReporteBundle div#resultados{width:100%; overflow-x: auto;}

form div#gopro_vipac_reportebundle_parametro div,
div#GoproVipacReporteBundle form div#parametrosForm div,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_sentencia div,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_campo div,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_parametro div,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_tipo div,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_operador div{margin-bottom: 7px;}

div#GoproVipacReporteBundle form div#parametrosForm div label{text-align:left; display: inline-block; margin-right: 5px; width: 90px; vertical-align: top;}

div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_sentencia div label,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_campo div label,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_parametro div label,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_tipo div label,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_operador div label{text-align:right; display: inline-block; margin-right: 5px; width: 90px; vertical-align: top;}

div#GoproVipacReporteBundle form div#parametrosForm div ul,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_sentencia div ul,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_campo div ul,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_parametro div ul,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_tipo div ul,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_operador div ul{list-style: none;}

div#GoproVipacReporteBundle form div#parametrosForm div ul li,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_sentencia div ul li,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_campo div ul li,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_parametro div ul li,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_tipo div ul li,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_operador div ul li{color:#cd0a0a; font-size: 9px;}

div#GoproVipacReporteBundle form div#parametrosForm div div,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_sentencia div div,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_campo div div,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_parametro div div,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_tipo div div,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_operador div div{margin-top: 5px; margin-left: 100px;}

div#GoproVipacReporteBundle form div#parametrosForm div div label {display: inline-block; margin-left: 0px; text-align: left;}
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_sentencia div div label,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_campo div div label,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_parametro div div label,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_tipo div div label,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_operador div div label{display: inline-block; margin-left: 5px; width: 70px; text-align: right;}

div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_sentencia div div.opcionMultipleExpandida {display: inline-block; margin-left: 0px;}
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_sentencia div div.opcionMultipleExpandida label{display: inline-block; margin-right: 5px; width: 200px; vertical-align: middle;}

div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_sentencia div input#gopro_vipac_reportebundle_sentencia_nombre,
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_sentencia div input#gopro_vipac_reportebundle_sentencia_descripcion{width:527px;}

div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_sentencia div textarea#gopro_vipac_reportebundle_sentencia_contenido {height: 260px;width: 530px;}

div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_sentencia div div#gopro_vipac_reportebundle_sentencia_campos{margin:0;}
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_sentencia div div#gopro_vipac_reportebundle_sentencia_campos div {display:inline-block;}
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_sentencia div div#gopro_vipac_reportebundle_sentencia_campos div div{margin:5px;padding: 5px; border: 1px solid #a6c9e2;}
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_sentencia div div#gopro_vipac_reportebundle_sentencia_campos div div div {display:block; margin:0; padding: 0; border: none;}
div#GoproVipacReporteBundle form div#gopro_vipac_reportebundle_sentencia div div#gopro_vipac_reportebundle_sentencia_campos div div div label{width: 140px; }