div#GoproInventarioBundle form div#gopro_inventariobundle_caracteristicatipo div,
div#GoproInventarioBundle form div#gopro_inventariobundle_caracteristica div,
div#GoproInventarioBundle form div#gopro_inventariobundle_componenteestado div,
div#GoproInventarioBundle form div#gopro_inventariobundle_componentetipo div,
div#GoproInventarioBundle form div#gopro_inventariobundle_componente div,
div#GoproInventarioBundle form div#gopro_inventariobundle_itemtipo div,
div#GoproInventarioBundle form div#gopro_inventariobundle_item div,
div#GoproInventarioBundle form div#gopro_inventariobundle_servicioestado div,
div#GoproInventarioBundle form div#gopro_inventariobundle_serviciotipo div,
div#GoproInventarioBundle form div#gopro_inventariobundle_servicio div{margin-bottom: 7px;}

div#GoproInventarioBundle form div#gopro_inventariobundle_caracteristicatipo div label,
div#GoproInventarioBundle form div#gopro_inventariobundle_caracteristica div label,
div#GoproInventarioBundle form div#gopro_inventariobundle_componenteestado div label,
div#GoproInventarioBundle form div#gopro_inventariobundle_componentetipo div label,
div#GoproInventarioBundle form div#gopro_inventariobundle_componente div label,
div#GoproInventarioBundle form div#gopro_inventariobundle_itemtipo div label,
div#GoproInventarioBundle form div#gopro_inventariobundle_item div label,
div#GoproInventarioBundle form div#gopro_inventariobundle_servicioestado div label,
div#GoproInventarioBundle form div#gopro_inventariobundle_serviciotipo div label,
div#GoproInventarioBundle form div#gopro_inventariobundle_servicio div label{text-align:right; display: inline-block; margin-right: 5px; width: 100px; vertical-align: top;}

div#GoproInventarioBundle form div#gopro_inventariobundle_componente div div.opcionMultipleExpandida {display: inline-block;}
div#GoproInventarioBundle form div#gopro_inventariobundle_componente div div.opcionMultipleExpandida label{display: inline-block; margin-right: 5px; width: 200px; vertical-align: middle;}

div#GoproInventarioBundle form div#gopro_inventariobundle_caracteristicatipo div ul,
div#GoproInventarioBundle form div#gopro_inventariobundle_caracteristica div ul,
div#GoproInventarioBundle form div#gopro_inventariobundle_componenteestado div ul,
div#GoproInventarioBundle form div#gopro_inventariobundle_componentetipo div ul,
div#GoproInventarioBundle form div#gopro_inventariobundle_componente div ul,
div#GoproInventarioBundle form div#gopro_inventariobundle_itemtipo div ul,
div#GoproInventarioBundle form div#gopro_inventariobundle_item div ul,
div#GoproInventarioBundle form div#gopro_inventariobundle_servicioestado div ul,
div#GoproInventarioBundle form div#gopro_inventariobundle_serviciotipo div ul,
div#GoproInventarioBundle form div#gopro_inventariobundle_servicio div ul{list-style: none;}

div#GoproInventarioBundle form div#gopro_inventariobundle_caracteristicatipo div ul li,
div#GoproInventarioBundle form div#gopro_inventariobundle_caracteristica div ul li,
div#GoproInventarioBundle form div#gopro_inventariobundle_componenteestado div ul li,
div#GoproInventarioBundle form div#gopro_inventariobundle_componentetipo div ul li,
div#GoproInventarioBundle form div#gopro_inventariobundle_componente div ul li,
div#GoproInventarioBundle form div#gopro_inventariobundle_itemtipo div ul li,
div#GoproInventarioBundle form div#gopro_inventariobundle_item div ul li,
div#GoproInventarioBundle form div#gopro_inventariobundle_servicioestado div ul li,
div#GoproInventarioBundle form div#gopro_inventariobundle_serviciotipo div ul li,
div#GoproInventarioBundle form div#gopro_inventariobundle_servicio div ul li{color:#cd0a0a; font-size: 9px;}
/*
div#GoproInventarioBundle form div#gopro_inventariobundle_caracteristicatipo div div,
div#GoproInventarioBundle form div#gopro_inventariobundle_caracteristica div div,
div#GoproInventarioBundle form div#gopro_inventariobundle_componenteestado div div,
div#GoproInventarioBundle form div#gopro_inventariobundle_componentetipo div div,
div#GoproInventarioBundle form div#gopro_inventariobundle_componente div div,
div#GoproInventarioBundle form div#gopro_inventariobundle_itemtipo div div,
div#GoproInventarioBundle form div#gopro_inventariobundle_item div div,
div#GoproInventarioBundle form div#gopro_inventariobundle_servicioestado div div,
div#GoproInventarioBundle form div#gopro_inventariobundle_serviciotipo div div,
div#GoproInventarioBundle form div#gopro_inventariobundle_servicio div div{margin-top: 5px; margin-left: 100px;}

div#GoproInventarioBundle form div#gopro_inventariobundle_caracteristicatipo div div label,
div#GoproInventarioBundle form div#gopro_inventariobundle_caracteristica div div label,
div#GoproInventarioBundle form div#gopro_inventariobundle_componenteestado div div label,
div#GoproInventarioBundle form div#gopro_inventariobundle_componentetipo div div label,
div#GoproInventarioBundle form div#gopro_inventariobundle_campo div div label,
div#GoproInventarioBundle form div#gopro_inventariobundle_itemtipo div div label,
div#GoproInventarioBundle form div#gopro_inventariobundle_item div div label,
div#GoproInventarioBundle form div#gopro_inventariobundle_servicioestado div div label,
div#GoproInventarioBundle form div#gopro_inventariobundle_serviciotipo div div label,
div#GoproInventarioBundle form div#gopro_inventariobundle_servicio div div label{display: inline-block; margin-left: 5px; width: 70px; text-align: left;}
*/