
div#GoproMainBundle form div#gopro_mainbundle_archivo div {margin-bottom: 7px;}
div#GoproMainBundle form div#gopro_mainbundle_archivo div label {display: inline-block; margin-left: 5px; width: 90px; vertical-align: top;}
div#GoproMainBundle form div#gopro_mainbundle_archivo div ul {list-style: none;}
div#GoproMainBundle form div#gopro_mainbundle_archivo div ul li {color:#cd0a0a; font-size: 9px;}
div#GoproMainBundle form div#gopro_mainbundle_archivo div div {margin-top: 5px; margin-left: 10px;}
div#GoproMainBundle form div#gopro_mainbundle_archivo div div label{display: inline-block; margin-left: 5px; width: 70px;}

