{% extends "::global.html.twig" %}
{% block title %}Bibliteca de funciones{% endblock title %}
{% block container %}
    <div id="GoproViapacMainBundle">
        {% block content %}
        {% endblock content %}
    </div>
{% endblock container %}
{% block javascriptsfinal %}{% endblock javascriptsfinal %}