{% extends 'GoproVipacProveedorBundle::layout.html.twig' %}
{% block title %}Modificar tipo de proveedor{% endblock title %}
{% block titulo %}Modificar tipo de proveedor{% endblock titulo %}
{% block content %}
    {{ form(edit_form) }}
    <ul class="registroAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_vipac_proveedor_informaciontipo') }}">
                Volver a la lista
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock content %}
