{% extends 'GoproInventarioBundle::layout.html.twig' %}
{% block title %}Actualizar característica del componente{% endblock title %}
{% block titulo %}Actualizar característica del componente{% endblock titulo %}
{% block content %}
    {{ form(edit_form) }}
    <ul class="registroAcciones">
        {% if edit_form.vars.value.componente.id %}
            <li>
                <a class="boton" href="{{ path('gopro_inventario_componente_show', { 'id': edit_form.vars.value.componente.id }) }}">
                    Ir al componente
                </a>
            </li>
        {% endif %}
        <li>
            <a class="boton" href="{{ path('gopro_inventario_componentecaracteristica') }}">
                Volver a la lista
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock content %}
