{% extends 'GoproInventarioBundle::layout.html.twig' %}
{% block title %}Lista de características del componente{% endblock title %}
{% block titulo %}Lista de ccaracterísticas del componente{% endblock titulo %}
{% block content %}
    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_inventario_componentecaracteristica_new') }}">
                Agregar una característica del componente
            </a>
        </li>
        <li>
            <a class="boton" href="{{ path('gopro_inventario_item') }}">
                Lista de items
            </a>
        </li>
    </ul>
    {{ grid(grid) }}

    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_inventario_componentecaracteristica_new') }}">
                Agregar una característica del componente
            </a>
        </li>
    </ul>
{% endblock content %}
