<tr data-id="{%=o.id%}">
    <td class="campo">
        <select name="{%=o.formName%}[grupo][{%=o.id%}][campo]">
            <option value=""></option>
        </select>
    </td>
    <td class="grupo">
        <select name="{%=o.formName%}[grupo][{%=o.id%}][grupo]">
            <option value=""></option>
        </select>
    </td>
    <td class="accion"><a class="borrarGrupo">Borrar</a></td>
</tr>