<tr data-id="{%=o.id%}">
    <td class="nombre">
        <a class="procesarGuardado">{%=o.nombre%}</a>
    </td>
    <td class="accion">
        <a class="borrarGuardado" href="{%=o.borrarRoute%}" data-id="{%=o.id%}">Borrar</a>
    </td>
</tr>