<tr data-id="{%=o.id%}">
    <td class="campo">
        <select name="{%=o.formName%}[orden][{%=o.id%}][campo]">
            <option value=""></option>
        </select>
    </td>
    <td class="orden">
        <select name="{%=o.formName%}[orden][{%=o.id%}][orden]">
            <option value=""></option>
        </select>
    </td>
    <td class="accion"><a class="borrarOrden">Borrar</a></td>
</tr>