{% extends 'GoproVipacReporteBundle::layout.html.twig' %}
{% block content %}
    <h1>Creación de Campos</h1>
    {{ form(form) }}
    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_vipac_reporte_campo') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock content %}
