{% extends 'GoproInventarioBundle::layout.html.twig' %}
{% block title %}Actualizar componente{% endblock title %}
{% block titulo %}Actualizar componente{% endblock titulo %}
{% block content %}
    {% form_theme edit_form 'GoproMainBundle:Form:standard.html.twig' %}
    {{ form(edit_form) }}
    <ul class="registroAcciones">
        {% if edit_form.vars.value.item.id %}
            <li>
                <a class="boton" href="{{ path('gopro_inventario_item_show', { 'id': edit_form.vars.value.item.id }) }}">
                    Ir al item
                </a>
            </li>
        {% else %}
            <li>
                <a class="boton" href="{{ path('gopro_inventario_componente') }}">
                    Vover a la lista
                </a>
            </li>
        {% endif %}
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock content %}
