{% extends 'GoproInventarioBundle::layout.html.twig' %}
{% block title %}Nuevo componente{% endblock title %}
{% block titulo %}Nuevo componente{% endblock titulo %}
{% block content %}
    {{ form(form) }}
    <ul class="listaAcciones">
        {% if form.vars.value.item.id %}
            <li>
                <a class="boton" href="{{ path('gopro_inventario_item_show', { 'id': form.vars.value.item.id }) }}">
                    Ir al item
                </a>
            </li>
        {% else %}
            <li>
                <a class="boton" href="{{ path('gopro_inventario_componente') }}">
                    Vover a la lista
                </a>
            </li>
        {% endif %}

    </ul>
{% endblock content %}
