<tr data-id="{%=o.id%}">
    <td class="nombre">{%=o.nombre%}</td>
    <td>{%=o.creado.date%}</td>
    <td>
        <a href="{%=o.procesarRoute%}">Procesar</a>
        <a class="borrarFila" href="{%=o.borrarRoute%}" data-id="{%=o.id%}">Borrar</a>
    </td>
</tr>