<div class="ui-widget">
    <div class="ui-state-highlight ui-corner-all" style="padding: 5px;">
        <p>
            <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
            <strong>{%=o.titulo%}</strong>
            {%=o.mensaje%}
        </p>
    </div>
</div>