{% extends 'GoproVipacProveedorBundle::layout.html.twig' %}
{% block title %}Lista de informaciones{% endblock title %}
{% block titulo %}Lista de informaciones{% endblock titulo %}
{% block content %}

    {{ grid(grid) }}

    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_vipac_proveedor_informacion_new') }}">
                Crear un nuevo registro
            </a>
        </li>
    </ul>
{% endblock content %}

