{% extends 'GoproVipacProveedorBundle::layout.html.twig' %}
{% block title %}Creaci贸n de informaci贸n{% endblock title %}
{% block titulo %}Creaci贸n de informaci贸n{% endblock titulo %}
{% block content %}
    {{ form(form) }}
    {{ form(valoresForm) }}
    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_vipac_proveedor_informacion') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock content %}
