{% extends 'GoproVipacDbprocesoBundle::layout.html.twig' %}
{% block title %}Editor de tipos de documentos CP% endblock title %}
{% block titulo %}Editor de tipos de documentos CP{% endblock titulo %}
{% block content %}
    {{ form(edit_form) }}
    <ul class="registroAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_vipac_dbproceso_doccptipo') }}">
                Volver a la lista
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock content %}
