{% extends 'GoproVipacDbprocesoBundle::layout.html.twig' %}
{% block content %}
    <h1>Creación de tipos</h1>
    {{ form(form) }}
    <ul class="listaAcciones">
        <li>
            <a href="{{ path('doccptipo') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock content %}
