{% extends 'GoproVipacDbprocesoBundle::layout.html.twig' %}
{% block title %}Creación de tipos{% endblock title %}
{% block titulo %}Creación de tipos{% endblock titulo %}
{% block content %}
    {{ form(form) }}
    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_vipac_dbproceso_doccptipo') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock content %}
